body {
    font-family: var(--bs-body-font-family);

}

nav {
    background-color: rgba(0, 0, 0, 0.9);
}

.hero {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}

.title-left {
    font-size: 2rem;
    position: relative;
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.para {
    font-size: 1.25rem;
    font-weight: 300;
}

.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
}


.service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.service-box .ico-circle:hover {
    color: white;
    background-color: #0078FF;
    box-shadow: 0 0 0 10px #CDE1F8;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #0078ff;
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}

.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
}

.counter-box {
    color: #fff;
    text-align: center;
    margin-bottom: 1.8rem;

}


.counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
}

.counter-box {
    color: #fff;
    text-align: center;
}

.work-box {
    margin-bottom: 3rem;
    backface-visibility: hidden;
    background-color: #fff;
}

.work-content {
    padding: 2rem 3% 1rem 4%;
}

.w-title {
    font-size: 1.2rem;
}

.work-content .w-more {
    color: #4e4e4e;
    font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
    color: #0078ff;
}

.work-content .w-like {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
}



.w-like {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0078FF;
}

.work-img {
    overflow: hidden;
}

/* Smooth zoom-in effect on the image */
.work-img img {
    transition: transform 0.7s ease;
}

.work-box:hover .work-img img {
    transform: scale(1.3);
    /* Zoom in within frame */
}

.w-like a {
    font-size: 25px;
}

.w-like i.fa-plus {
    font-size: 25px;
    line-height: 1;
}